<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    </head>
<body>

<div th:fragment="main-footer">
    <footer class="footer bg-primary text-white py-3 mt-auto">
        <div class="container text-center">
            <p>&copy; <span th:text="${#temporals.format(T(java.time.LocalDateTime).now(), 'yyyy')}">2025</span> Water Intake Tracker. All rights reserved.</p>
            <p>Developed in Thuckalay, Tamil Nadu, India</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>

</body>
</html>